// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or any plugin's vendor/assets/javascripts directory can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file. JavaScript code in this file should be added after the last require_* statement.
//
// Read Sprockets README (https://github.com/rails/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery
//= require jquery_ujs
//= require materialize
//= require owl.carousel
//= require_tree .

function secToMin(seconds){
  var x = seconds/60;
  var mins = Math.floor(x);
  var diff = x - mins;
  var secs = Math.round(diff * 60);
  if(secs.toString().length < 2){
    secs = '0' + secs.toString();
  }
  return [mins, secs].join('.');
}

$('document').ready(function(){

function getRandomInt() {
  min = Math.ceil(1);
  max = Math.floor(7);
  return Math.floor(Math.random() * (max - min)) + min;
}

function randomColor() {
  var num = getRandomInt()
  if (num === 1) {
    return 'pink lighten-3'
  } else if (num === 2){
    return 'purple accent-2'
  } else if (num === 3) {
    return 'indigo accent-1'
  } else if (num === 4) {
    return 'green accent-4'
  } else if (num === 5) {
    return 'teal lighten-1'
  } else if (num === 6) {
    return 'orange lighten-1'
  }
};

function randomPhrase() {
  var num = getRandomInt()
  if (num === 1) {
    return "Your song was added. Let's party!"
  } else if (num === 2){
    return "Woohoo! Song added!"
  } else if (num === 3) {
    return 'Nice taste in music! Song added.'
  } else if (num === 4) {
    return 'Achievement unlocked! Just kidding. Your song was still added though!'
  } else if (num === 5) {
    return 'Song added, sweet pick!'
  } else if (num === 6) {
    return 'Your song was successfully added, now go vote it up the Q!'
  }
};

  var regExp = /\d+/
  if(regExp.exec(window.location.pathname) != null) {
    var playlistId = parseInt(regExp.exec(window.location.pathname)[0]);
  }



  $('.add-search-container').on('click', function(){
    // $('.search-container').toggleClass('hidden');
    // $('.search-container').css('z-index',3);
    // $('.search-container').fadeIn(800).addClass('search-container-show');
    // $('.add-search-container').addClass('hidden');
    // $('.upvote').css('z-index', 1);
    // $('.downvote').css('z-index', 1);

    // $.ajax({
    //   url:'/playlists/search',
    //   method:'get'
    // }).done(function(data){
    //   console.log(data);
    //   var div = $('<div>').addClass('search-resultss');
    //   $(div).html(data);
    //   $('body').append(div);
    // })

  })

  $('body').delegate('.back-to-playlist', 'click', function(e){
    e.preventDefault();
    $('.search-container').css('display','none');
    $('.search-container').css('z-index', -1).fadeOut(800);
    $('.add-search-container').toggleClass('hidden');
    $('.upvote').css('z-index', 1);
    $('.downvote').css('z-index', 1);
  })

  $('.back2top').on('click', function(){
    window.scrollTo(0,0);
  })

  $('body').delegate('.back2top', 'click', function(){
    window.scrollTo(0, 100);
  })


  // User add a song to SuggeatedSong
  $("body").delegate('.suggest_song1', 'click', function (event){
       event.preventDefault();
       console.log("this button was clicked");
       $.ajax({
          url:'/playlists/' + playlistId + '/suggestedsongs',
          method:'POST',
          data:{
           song_id: $(this).attr('song_id'),
           name: $(this).attr('song_name'),
           artist: $(this).attr('artist')
         }
       }).done(function(data){
         console.log('here comes the data');
         console.log(data);
         if (data.status === true){
           Materialize.toast(randomPhrase(), 3000, randomColor());
         }
         else if (data.status === false){
           Materialize.toast("Your song has already been Q'd up", 3000, 'red darken-2');
         }

         $(this).addClass('suggest_song1-active');

       })
  });

  // Inital Search submit
  $("body").delegate('.search-submit','click',function(event) {
    event.preventDefault();
    var searchValue = $('#search').val();
    $('.search-container').toggleClass('hidden');
    $('.search-container').css('z-index',3);
    $('.search-container').fadeIn(800).addClass('search-container-show');
    $('.add-search-container').addClass('hidden');
    // $('.upvote').css('z-index', 1);
    // $('.downvote').css('z-index', 1);
    $('#search_results').html('');
    $.ajax({
      url: '/playlists/' + playlistId + '/suggestedsongs/',
      method: 'get',
      data: {q: searchValue},
      dataType: 'json'
    }).done(function(data){
      console.log(data);

      albumResults = data['albums']['data'];
      artistResults = data['artists']['data'];
      trackResults = data['tracks']['data'];

      var albumsLength = data['albums']['data'].length;
      // console.log(albumsLength);

      var artistsLength = data['artists']['data'].length;
      // console.log(artistsLength);

      if (albumsLength < 5) {
        var i_albumsLength = albumsLength;
      }
      else {
        var i_albumsLength = 5;
      }

      if (artistsLength < 5) {
        var i_artistsLength = artistsLength;
      }
      else {
        var i_artistsLength = 5;
      }

      // Creating row div which contains artists, albums and tracks.
      var row = $('<div>').addClass('row');
      var backButton = $('<a>').addClass('more back-to-playlist').attr('href', '#').text('BACK');
      var backContainer = $('<div>').addClass('back-container');
      $(backContainer).append(backButton);
      //adding row to .main-content, which is the overall container.
      $('.main-content').append($(row).append(backContainer));

      //adding albums acc to new designs
      var artistsContainer = $('<div>').addClass('col s6 card__panel');

      // var artistsContainer = $('<div>').attr('id', 'search_results_artists');
      var artistsHeader = $('<div>').addClass('panel__head');
      var artists = $('<div>').addClass('theme').html('Artists');
      var seeAllArtists = $('<a>').addClass('more valign-wrapper all-artists').attr('href', '#').text('See all artists');
      // $(artistsContainer).append(artistsHeader);
      var artistResultContainer = $('<div>').addClass('photos');
      //below is all to be created in a loop through the search results.
      for(var i = 0; i < i_artistsLength; i++){

        var photoElement = $('<div>').addClass('photos__elem center-align artist').attr('artist-name', data["artists"]['data'][i]['name']).attr('artist-id', data["artists"]['data'][i]['id']);;
        var imageWrapper = $('<div>').addClass('img-wrapper');
        var artistImg = $('<img>').addClass('circle').attr('src', data["artists"]['data'][i]["picture_medium"]);
        var artistName = $('<h6>').addClass('photos__h6').text(data['artists']['data'][i]['name']);
        $(artistResultContainer).append($(photoElement).append($(imageWrapper).append(artistImg)).append(artistName));
      }
      $(row).append($(artistsContainer).append($(artistsHeader).append(artists).append(seeAllArtists)).append(artistResultContainer));

      //adding albums acc to new designs
      var albumsContainer = $('<div>').addClass('col s6 card__panel');

      // var albumsContainer = $('<div>').attr('id', 'search_results_albums');
      var albumsHeader = $('<div>').addClass('panel__head');
      var albums = $('<div>').addClass('theme').html('Albums');
      var seeAllAlbums = $('<a>').addClass('more valign-wrapper all-albums').attr('href', '#').text('See all albums');
      // $(albumsContainer).append(albumsHeader);
      var albumResultContainer = $('<div>').addClass('photos');
      //below is all to be created in a loop through the search results.
      for(var i = 0; i < i_albumsLength; i++){

        var photoElement = $('<div>').addClass('photos__elem center-align album').attr('album_title', data["albums"]['data'][i]['title']).attr('album-id', data["albums"]['data'][i]['id']);;
        var imageWrapper = $('<div>').addClass('img-wrapper');
        var albumImg = $('<img>').addClass('circle').attr('src', data["albums"]['data'][i]["cover_medium"]);
        var albumName = $('<h6>').addClass('photos__h6').text(data['albums']['data'][i]['title']);
        $(albumResultContainer).append($(photoElement).append($(imageWrapper).append(albumImg)).append(albumName));
      }
      $(row).append($(albumsContainer).append($(albumsHeader).append(albums).append(seeAllAlbums)).append(albumResultContainer));
      // $('.main-content').append(row);

      //adding tracks
      var tracksContainer = $('<div>').addClass('col s12 card__panel').attr('id', 'table');

      var tracksHeader = $('<div>').addClass('panel__head');
      var tracks = $('<div>').addClass('theme').html('Songs');
      var seeAllTracks = $('<a>').addClass('more valign-wrapper all-tracks').attr('href', '#').text('See all songs');

      $(tracksHeader).append(tracks).append(seeAllTracks);

      var tracksTable = $('<table>').addClass('bordered highlight table');

      var tracksHead = $('<thead>');
      var tr = $('<tr>');
      var th = $('<th>').addClass('add');
      var th1 = $('<th>');
      // ;
      var th2 = $('<th>').text('Title');
      var th3 = $('<th>').text('Artist');
      var th4 = $('<th>').text('Albums');
      var th5 = $('<th>').addClass('hide-on-small-only').text('Time').attr('style', 'padding-right: 100px;');
      $(tracksHead).append($(tr).append(th).append(th1).append(th2).append(th3).append(th4).append(th5));

      var tracksBody = $('<tbody>');

      for(var i=0; i < 5; i++){
        var tr = $('<tr>').addClass('suggest_song1').attr('song_id', data["tracks"]['data'][i]['id']).attr('song_name', data["tracks"]['data'][i]['title']).attr('artist', data["tracks"]['data'][i]["artist"]["name"]);
        var td = $('<td>');
        $(td).append($('<i>').addClass('material-icons left').text('add'));
        var name_td = $('<td>').text(data['tracks']['data'][i]['title']);
        var artist_td = $('<td>').text(data['tracks']['data'][i]['artist']['name']);
        var album_td = $('<td>').text(data['tracks']['data'][i]['album']['title']);
        var duration_td = $('<td>').addClass('hide-on-small-only').text(secToMin(data['tracks']['data'][i]['duration'])).attr('style', 'padding-right: 100px;');

        var coverart_td = $('<td>').addClass('cover-art');
        // ;
        var coverArtDiv = $('<div>').addClass('img-wrapper');
        var coverArt = $('<img>').addClass('circle track-art').attr('src', data['tracks']['data'][i]['album']['cover_medium']);
        $(coverart_td).append($(coverArtDiv).append(coverArt));

        $(tr).append(td).append(coverart_td).append(name_td).append(artist_td).append(album_td).append(duration_td);
        $(tracksBody).append($(tr));
      }
      $(tracksTable).append(tracksHead).append(tracksBody);

      $(tracksContainer).append(tracksHeader).append(tracksTable);

      $(row).append(tracksContainer);
    })
   })

   // Display the search results for artist
   $("body").delegate('.artist','click',function(event) {
   event.preventDefault();
  //  console.log("this button was clicked!");
   var artist_id = parseInt($(this).attr('artist-id'));


  $.ajax({
    url: '/playlists/' + playlistId + '/suggestedsongs/get_artist',
    method: 'get',
    data: {artist: artist_id},
    dataType: 'json'
  }).done(function(data){

   console.log(data);
   $('tbody').remove();

   var tracksBody = $('<tbody>');

   for(var i=0; i<data['artists']['data'].length; i++){
     var tr = $('<tr>').addClass('suggest_song1').attr('song_id', data["artists"]['data'][i]['id']).attr('song_name', data["artists"]['data'][i]['title']).attr('artist', data["artists"]['data'][i]["artist"]["name"]);
     var td = $('<td>');
     $(td).append($('<i>').addClass('material-icons left').text('add'));
     var name_td = $('<td>').text(data['artists']['data'][i]['title']);
     var artist_td = $('<td>').text(data['artists']['data'][i]['artist']['name']);
     var album_td = $('<td>').text(data['artists']['data'][i]['album']['title']);
     var duration_td = $('<td>').addClass('hide-on-small-only').text(secToMin(data['artists']['data'][i]['duration'])).css('margin-right', '100px');

     var coverart_td = $('<td>').addClass('cover-art');
     var coverArtDiv = $('<div>').addClass('img-wrapper');
     var coverArt = $('<img>').addClass('circle track-art').attr('src', data['artists']['data'][i]['album']['cover_medium']);
     $(coverart_td).append($(coverArtDiv).append(coverArt));

     $(tr).append(td).append(coverart_td).append(name_td).append(artist_td).append(album_td).append(duration_td);
     $(tracksBody).append($(tr));
   }
   $('.table').append(tracksBody);
   $('.all-tracks').hide();
   })
  })


   $("body").delegate('.album','click',function(event) {
     event.preventDefault();

     var album_id = parseInt($(this).attr('album-id'));
     var $this = $(this).attr('album_title');

     $.ajax({
       url: '/playlists/' + playlistId + '/suggestedsongs/get_album',
       method: 'get',
       data: {album: album_id},
       dataType: 'json'
     }).done(function(data){
       console.log(data);

       $('tbody').remove();

       var tracksBody = $('<tbody>');

       for(var i=0; i<data['albums']['tracks']['data'].length; i++){
         var tr = $('<tr>').addClass('suggest_song1').attr('song_id', data["albums"]['tracks']['data'][i]['id']).attr('song_name', data["albums"]['tracks']['data'][i]['title']).attr('artist', data["albums"]['tracks']['data'][i]["artist"]["name"]);
         var td = $('<td>');
         $(td).append($('<i>').addClass('material-icons left').text('add'));
         var name_td = $('<td>').text(data['albums']['tracks']['data'][i]['title']);
         var artist_td = $('<td>').text(data['albums']['tracks']['data'][i]['artist']['name']);
         var album_td = $('<td>').text($this);
         var duration_td = $('<td>').addClass('hide-on-small-only').text(secToMin(data['albums']['tracks']['data'][i]['duration'])).css('margin-right', '100px');

         var coverart_td = $('<td>').addClass('cover-art');
         var coverArtDiv = $('<div>').addClass('img-wrapper');
         var coverArt = $('<img>').addClass('circle track-art').attr('src', data['albums']['cover_medium']);
         $(coverart_td).append($(coverArtDiv).append(coverArt));

         $(tr).append(td).append(coverart_td).append(name_td).append(artist_td).append(album_td).append(duration_td);
         $(tracksBody).append($(tr));
       }
       $('.table').append(tracksBody);
       $('.all-tracks').hide();
     })
   })

   $('body').delegate('.all-artists', 'click', function(e){
     e.preventDefault();
     var allAlbums = $('.card__panel')[1];
     $(allAlbums).remove();
     $(this).parents('.card__panel').attr('class', 'col s12 artists-expanded');


     $('.artists-expanded').html('').css('background-color', 'white').css('margin', '12px').css('padding', '12px 15px').css('border-radius', '5px');
    // console.log(artistResults);

     var artistsHeader = $('<div>').addClass('panel__head');
     var artists = $('<div>').addClass('theme').html('Artists');
     var backArtists = $('<a>').addClass('more valign-wrapper back-artists').attr('href', '#').text('Back');
     // $(artistsContainer).append(artistsHeader);
     $(artistsHeader).append(artists).append(backArtists);
     var artistResultContainer = $('<div>').addClass('photos');

     //Show 20 results max. If there are less than 20 results, show all the results
     if(artistResults.length >= 20){
      var artistCount = 20;
     }
     else{
       var artistCount = artistResults.length;
     }

     //a loop through the artist search results.
     for(var i = 0; i < artistCount; i++){

       var photoElement = $('<div>').addClass('photos__elem center-align artist').attr('artist-name', artistResults[i]['name']).attr('artist-id', artistResults[i]['id']);;
       var imageWrapper = $('<div>').addClass('img-wrapper');
       var artistImg = $('<img>').addClass('circle').attr('src', artistResults[i]["picture_medium"]);
       var artistName = $('<h6>').addClass('photos__h6').text(artistResults[i]['name']);
       $(artistResultContainer).append($(photoElement).append($(imageWrapper).append(artistImg)).append(artistName));
     }
     $('.artists-expanded').append(artistsHeader).append(artistResultContainer);
     $('.photos__elem').css('width', '8.5%');
     var panel =  $('.panel__head')[0];
     $(panel).css('padding', '5px 0px');
   })

   $('body').delegate('.all-albums', 'click', function(e){
     e.preventDefault();
     var allAlbums = $('.card__panel')[0];
     $(allAlbums).remove();
     $(this).parents('.card__panel').attr('class', 'col s12 albums-expanded');


     $('.albums-expanded').html('').css('background-color', 'white').css('margin', '12px').css('padding', '12px 15px').css('border-radius', '5px');
    //  console.log(albumResults);
    // console.log(artistResults);

     var albumsHeader = $('<div>').addClass('panel__head');
     var albums = $('<div>').addClass('theme').html('Albums');
     var backAlbums = $('<a>').addClass('more valign-wrapper back-albums').attr('href', '#').text('Back');
     // $(albumsContainer).append(albumsHeader);
     $(albumsHeader).append(albums).append(backAlbums);
     var albumResultContainer = $('<div>').addClass('photos');
     //below is all to be created in a loop through the search results.
     if(albumResults.length >= 20){
      var albumCount = 20;
     }
     else{
       var albumCount = albumResults.length;
     }

     for(var i = 0; i < albumCount; i++){

       var photoElement = $('<div>').addClass('photos__elem center-align album').attr('album_title', albumResults[i]['title']).attr('album-id', albumResults[i]['id']);;
       var imageWrapper = $('<div>').addClass('img-wrapper');
       var albumImg = $('<img>').addClass('circle').attr('src', albumResults[i]["cover_medium"]);
       var albumName = $('<h6>').addClass('photos__h6').text(albumResults[i]['title']);
       $(albumResultContainer).append($(photoElement).append($(imageWrapper).append(albumImg)).append(albumName));
     }
     $('.albums-expanded').append(albumsHeader).append(albumResultContainer);
     $('.photos__elem').css('width', '8.5%');
     var panel =  $('.panel__head')[0];
     $(panel).css('padding', '5px 0px');
   })

   $('body').delegate('.all-tracks', 'click', function(e){
     e.preventDefault();
     for(var i=5; i < trackResults.length; i++){
       var tr = $('<tr>').addClass('suggest_song1').attr('song_id', trackResults[i]['id']).attr('song_name', trackResults[i]['title']).attr('artist', trackResults[i]["artist"]["name"]);
       var td = $('<td>');
       $(td).append($('<i>').addClass('material-icons left').text('add'));
       var name_td = $('<td>').text(trackResults[i]['title']);
       var artist_td = $('<td>').text(trackResults[i]['artist']['name']);
       var album_td = $('<td>').text(trackResults[i]['album']['title']);
       var duration_td = $('<td>').addClass('hide-on-small-only').text(secToMin(trackResults[i]['duration'])).attr('style', 'padding-right: 100px;');

       var coverart_td = $('<td>').addClass('cover-art');

       var coverArtDiv = $('<div>').addClass('img-wrapper');
       var coverArt = $('<img>').addClass('circle track-art').attr('src', trackResults[i]['album']['cover_medium']);
       $(coverart_td).append($(coverArtDiv).append(coverArt));

       $(tr).append(td).append(coverart_td).append(name_td).append(artist_td).append(album_td).append(duration_td);
       $('.table > tbody').append($(tr));
     }

     $('.all-tracks').text('Back').addClass('back-tracks');

     var backToTop = $('<div>').addClass('back2top');
     var button = $('<button>').text('^^');
     $('#table').append((backToTop).append(button));
   })

   //secondary solution to make app more optimized: Every time all artists or all albums is clicked, make another modal window just like the current one, but with a higher z-index. Loop all the artist or
   //album results followed by the track results. Clicking back now, will just switch the z-indices of these two windows. No need to make call again to show results that already exist in the other window.
   $('body').delegate('.back-albums, .back-artists, .back-tracks', 'click', function(e){
     e.preventDefault();
     var albumsLength = albumResults.length;
     // console.log(albumsLength);

     var artistsLength = artistResults.length;
     // console.log(artistsLength);

     if (albumsLength < 5) {
       var i_albumsLength = albumsLength;
     }
     else {
       var i_albumsLength = 5;
     }

     if (artistsLength < 5) {
       var i_artistsLength = artistsLength;
     }
     else {
       var i_artistsLength = 5;
     }
     $('#search_results').html('');
     // Creating row div which contains artists, albums and tracks.
     var row = $('<div>').addClass('row');
     //adding row to .main-content, which is the overall container.
     $('.main-content').append(row);
     // adding "BACK" button
     $(row).append('<div class="back-container"><a class="more back-to-playlist" href="#">BACK</a></div>')
     //adding albums acc to new designs
     var artistsContainer = $('<div>').addClass('col s6 card__panel');

     // var artistsContainer = $('<div>').attr('id', 'search_results_artists');
     var artistsHeader = $('<div>').addClass('panel__head');
     var artists = $('<div>').addClass('theme').html('Artists');
     var seeAllArtists = $('<a>').addClass('more valign-wrapper all-artists').attr('href', '#').text('See all artists');
     // $(artistsContainer).append(artistsHeader);
     var artistResultContainer = $('<div>').addClass('photos');
     //below is all to be created in a loop through the search results.
     for(var i = 0; i < i_artistsLength; i++){

       var photoElement = $('<div>').addClass('photos__elem center-align artist').attr('artist-name', artistResults[i]['name']).attr('artist-id', artistResults[i]['id']);;
       var imageWrapper = $('<div>').addClass('img-wrapper');
       var artistImg = $('<img>').addClass('circle').attr('src', artistResults[i]["picture_medium"]);
       var artistName = $('<h6>').addClass('photos__h6').text(artistResults[i]['name']);
       $(artistResultContainer).append($(photoElement).append($(imageWrapper).append(artistImg)).append(artistName));
     }
     $(row).append($(artistsContainer).append($(artistsHeader).append(artists).append(seeAllArtists)).append(artistResultContainer));

     //adding albums acc to new designs
     var albumsContainer = $('<div>').addClass('col s6 card__panel');

     // var albumsContainer = $('<div>').attr('id', 'search_results_albums');
     var albumsHeader = $('<div>').addClass('panel__head');
     var albums = $('<div>').addClass('theme').html('Albums');
     var seeAllAlbums = $('<a>').addClass('more valign-wrapper all-albums').attr('href', '#').text('See all albums');
     // $(albumsContainer).append(albumsHeader);
     var albumResultContainer = $('<div>').addClass('photos');
     //below is all to be created in a loop through the search results.
     for(var i = 0; i < i_albumsLength; i++){

       var photoElement = $('<div>').addClass('photos__elem center-align album').attr('album_title', albumResults[i]['title']).attr('album-id', albumResults[i]['id']);;
       var imageWrapper = $('<div>').addClass('img-wrapper');
       var albumImg = $('<img>').addClass('circle').attr('src', albumResults[i]["cover_medium"]);
       var albumName = $('<h6>').addClass('photos__h6').text(albumResults[i]['title']);
       $(albumResultContainer).append($(photoElement).append($(imageWrapper).append(albumImg)).append(albumName));
     }
     $(row).append($(albumsContainer).append($(albumsHeader).append(albums).append(seeAllAlbums)).append(albumResultContainer));
     // $('.main-content').append(row);

     //adding tracks
     var tracksContainer = $('<div>').addClass('col s12 card__panel').attr('id', 'table');

     var tracksHeader = $('<div>').addClass('panel__head');
     var tracks = $('<div>').addClass('theme').html('Songs');
     var seeAllTracks = $('<a>').addClass('more valign-wrapper all-tracks').attr('href', '#').text('See all songs');

     $(tracksHeader).append(tracks).append(seeAllTracks);

     var tracksTable = $('<table>').addClass('bordered highlight table');

     var tracksHead = $('<thead>');
     var tr = $('<tr>');
     var th = $('<th>').addClass('add');
     var th1 = $('<th>');
     var th2 = $('<th>').text('Title');
     var th3 = $('<th>').text('Artist');
     var th4 = $('<th>').text('Albums');
     var th5 = $('<th>').addClass('hide-on-small-only').text('Time').attr('style', 'padding-right: 100px;');
     $(tracksHead).append($(tr).append(th).append(th1).append(th2).append(th3).append(th4).append(th5));

     var tracksBody = $('<tbody>');

     for(var i=0; i < 5; i++){
       var tr = $('<tr>').addClass('suggest_song1').attr('song_id', trackResults[i]['id']).attr('song_name', trackResults[i]['title']).attr('artist', trackResults[i]["artist"]["name"]);
       var td = $('<td>');
       $(td).append($('<i>').addClass('material-icons left').text('add'));
       var name_td = $('<td>').text(trackResults[i]['title']);
       var artist_td = $('<td>').text(trackResults[i]['artist']['name']);
       var album_td = $('<td>').text(trackResults[i]['album']['title']);
       var duration_td = $('<td>').addClass('hide-on-small-only').text(secToMin(trackResults[i]['duration'])).attr('style', 'padding-right: 100px;');

       var coverart_td = $('<td>').addClass('cover-art');
       var coverArtDiv = $('<div>').addClass('img-wrapper');
       var coverArt = $('<img>').addClass('circle track-art').attr('src', trackResults[i]['album']['cover_medium']);
       $(coverart_td).append($(coverArtDiv).append(coverArt));

       $(tr).append(td).append(coverart_td).append(name_td).append(artist_td).append(album_td).append(duration_td);
       $(tracksBody).append($(tr));
     }
     $(tracksTable).append(tracksHead).append(tracksBody);

     $(tracksContainer).append(tracksHeader).append(tracksTable);

     $(row).append(tracksContainer);
   })

  //  var backButton = $('<a>').addClass('back-button').addClass('waves-effect waves-light btn light-blue lighten-2').html('BACK TO SEARCH RESULTS');
   //
  //  $("body").delegate('.inner-album','click',function(event) {
  //    event.preventDefault();
   //
  //    var album_id = parseInt($(this).attr('album-id'));
   //
  //    $.ajax({
  //      url: '/playlists/' + playlistId + '/suggestedsongs/get_album',
  //      method: 'get',
  //      data: {album: album_id},
  //      dataType: 'json'
  //    }).done(function(data){
  //      console.log("Album tracks");
  //      console.log(data);
  //     $('#search_results').html("").append(backButton);
   //
   //
  //     //displays tracks with album cover when searching for a specific album
  //     for (var i = 0; i < data['albums']["tracks"]['data'].length; i++){
   //
  //       var icon = $('<i>').attr('class','fa fa-plus-circle').attr('aria-hidden', 'true')
  //       var div = $('<div>').attr('class','song-listing suggest_song1').attr('song_id', data["albums"]["tracks"]['data'][i]['id']).attr('song_name', data["albums"]["tracks"]['data'][i]['title']).attr('artist', data["albums"]["tracks"]['data'][i]["artist"]["name"]);
   //
  //       var image_container = $('<div>').addClass('track-img-container');
  //       var img = $('<img>').attr('src',data['albums']['cover_medium']).addClass('track-img');
  //       image_container =$(image_container).append(img).append(icon);
   //
  //       $(div).append(image_container);
   //
  //       var trackInfo = $('<div>').attr('class','track-info')
  //       var trackTitle = $('<div>').html(data["albums"]["tracks"]['data'][i]["title"])
  //       var trackArtist = $('<div>').attr('class', 'trackArtist').html(data["albums"]["tracks"]['data'][i]["artist"]["name"]);
   //
  //       $(trackInfo).append(trackTitle).append(trackArtist);
  //       $(div).append(trackInfo);
  //       $('#search_results').append(div);
  //     }
  //    })
  //  })

  //  $("body").delegate('.header', 'click', function(){
  //    if ($(this).html().trim() === 'Albums'){
  //     $('#search_results').html($('.all-albums').html()).append(backButton);
  //    }
  //    else if ($(this).html().trim() === 'Artists'){
  //     $('#search_results').html($('.all-artists').html()).append(backButton);
  //    }
  //  })

  //  $("body").delegate('.inner-artist','click',function(event) {
  //    event.preventDefault();
   //
  //    console.log("this button was clicked!");
  //    var artist_id = parseInt($(this).attr('artist-id'));
   //
  //    console.log(artist_id);
   //
  //    $.ajax({
  //      url: '/playlists/' + playlistId + '/suggestedsongs/get_artist',
  //      method: 'get',
  //      data: {artist: artist_id},
  //      dataType: 'json'
  //    }).done(function(data){
   //
  //      console.log(data);
   //
   //
  //      //displaying tracks for one album
  //      $('#search_results').html("").append($('<a>').addClass('back-button').addClass('waves-effect waves-light btn light-blue lighten-2').html('BACK TO SEARCH RESULTS'));
  //      for (var i = 0; i < data['artists']['data'].length; i++){
   //
  //        var icon = $('<i>').attr('class','fa fa-plus-circle').attr('aria-hidden', 'true')
  //        var div = $('<div>').attr('class','song-listing suggest_song1').attr('song_id', data["artists"]['data'][i]['id']).attr('song_name', data["artists"]['data'][i]['title']).attr('artist', data["artists"]['data'][i]["artist"]["name"]);
   //
  //        var image_container = $('<div>').addClass('track-img-container');
  //        var img = $('<img>').attr('src',data['artists']['data'][i]['album']['cover_medium']).addClass('track-img');
  //        image_container =$(image_container).append(img).append(icon);
   //
  //        $(div).append(image_container);
   //
  //        var trackInfo = $('<div>').attr('class','track-info')
  //        var trackTitle = $('<div>').html(data["artists"]['data'][i]["title"])
  //        var trackArtist = $('<div>').attr('class', 'trackArtist').html(data["artists"]['data'][i]["artist"]["name"]);
   //
  //        $(trackInfo).append(trackTitle).append(trackArtist);
  //        $(div).append(trackInfo);
  //        $('#search_results').append(div);
  //      }
   //
  //      $('#search_results').append($('<a>').addClass('back-button').addClass('waves-effect waves-light btn light-blue lighten-2').html('BACK TO SEARCH RESULTS'));
  //    })
  //  })



  //  $("body").delegate('.back-button','click',function(event) {
  //    event.preventDefault();
  //    var searchValue = $('#search').val();
  //    // console.log(searchValue);
  //    $.ajax({
  //      url: '/playlists/' + playlistId + '/suggestedsongs/',
  //      method: 'get',
  //      data: {q: searchValue},
  //      dataType: 'json'
  //    }).done(function(data){
  //      console.log(data);
   //
   //
  //      var albumsContainer = $('<div>').attr('id', 'search_results_albums');
  //      var albumsHeader = $('<div>').addClass('header').html('Albums');
  //      $(albumsContainer).append(albumsHeader);
   //
  //      var artistsContainer = $('<div>').attr('id', 'search_results_artists');
  //      var artistsHeader = $('<div>').addClass('header').html('Artists');
  //      $(artistsContainer).append(artistsHeader);
   //
   //
  //      var tracksContainer = $('<div>').attr('id', 'search_results_tracks');
  //      var tracksHeader = $('<div>').addClass('header').html('Tracks');
  //      $(tracksContainer).append(tracksHeader);
   //
  //      var albumsLength = data['albums']['data'].length;
  //      console.log(albumsLength);
   //
  //      var artistsLength = data['artists']['data'].length;
  //      console.log(artistsLength);
   //
   //
  //      $('#search_results').html('').append(artistsContainer).append(albumsContainer).append(tracksContainer);
   //
  //      //tracks displayed with album cover when back button clicked
  //      for (var i = 0; i < data['tracks']['data'].length; i++){
   //
  //        var icon = $('<i>').attr('class','fa fa-plus-circle').attr('aria-hidden', 'true')
  //        var div = $('<div>').attr('class','song-listing suggest_song1').attr('song_id', data["tracks"]['data'][i]['id']).attr('song_name', data["tracks"]['data'][i]['title']).attr('artist', data["tracks"]['data'][i]["artist"]["name"]);
   //
  //        var image_container = $('<div>').addClass('track-img-container');
  //        var img = $('<img>').attr('src',data['tracks']['data'][i]['album']['cover_medium']).addClass('track-img');
  //        image_container =$(image_container).append(img).append(icon);
   //
  //        $(div).append(image_container);
   //
  //        var trackInfo = $('<div>').attr('class','track-info')
  //        var trackTitle = $('<div>').html(data["tracks"]['data'][i]["title"])
  //        var trackArtist = $('<div>').attr('class', 'trackArtist').html(data["tracks"]['data'][i]["artist"]["name"]);
   //
  //        $(trackInfo).append(trackTitle).append(trackArtist);
  //        $(div).append(trackInfo);
  //        $('#search_results_tracks').append(div);
  //      }
   //
  //      if (albumsLength < 5) {
  //        var i_albumsLength = albumsLength;
  //      }
  //      else {
  //        var i_albumsLength = 5;
  //      }
  //      var contain = $('<div>').addClass('contain');
  //      for (var i = 0; i < i_albumsLength; i++){
  //        var div = $('<div>').addClass('album').attr('album_title', data["albums"]['data'][i]['title']).attr('album-id', data["albums"]['data'][i]['id']);
  //        var image_container = $('<div>').addClass('album-img-container');
  //        var img = $('<img>').attr('src',data["albums"]['data'][i]["cover_medium"]).addClass('album-img');
  //        image_container =$(image_container).append(img);
  //        var album_title = $('<div>').addClass('album-title').html(data["albums"]['data'][i]["title"]);
   //
  //        $(contain).append((div).append(image_container).append(album_title));
   //
  //      }
  //        $('#search_results_albums').append(contain);
   //
  //      if (artistsLength < 5) {
  //        var i_artistsLength = artistsLength;
  //      }
  //      else {
  //        var i_artistsLength = 5;
  //      }
  //      var contain = $('<div>').addClass('contain');
  //      for (var i = 0; i < i_artistsLength; i++){
   //
  //        var div = $('<div>').addClass('artist').attr('artist-name', data["artists"]['data'][i]['name']).attr('artist-id', data["artists"]['data'][i]['id']);
  //        var image_container = $('<div>').addClass('artist-img-container');
  //        var img = $('<img>').attr('src',data["artists"]['data'][i]["picture_medium"]).addClass('artist-img');
  //        image_container =$(image_container).append(img);
  //        var artist_title = $('<div>').addClass('artist-title').html(data["artists"]['data'][i]["name"]);
   //
  //        $(contain).append((div).append(image_container).append(artist_title));
   //
  //      }
  //        $('#search_results_artists').append(contain);
   //
  //    })
  //   })


  $('#make-public').on('click', function(){
    var status = $('#make-public').html().trim();

    console.log('clicked');
    $.ajax({
      url: '/playlists/' + playlistId + '/update_publicity',
      method: 'post'
    })
  });

  $("body").delegate('.upvote','click', function() {
    var playlist_id = $(this).parents('.song-in-queue').data('playlist-id');
    var suggestedsong_id = $(this).parents('.song-in-queue').data('suggested-song-id');
    var replacement = $(this).parents('.contain').children('.heart').children('.netvote');

    setTimeout(function(){
      $.ajax({
        url:"/playlists/" + playlist_id + "/suggestedsongs/" + suggestedsong_id + "/votes",
        method: 'POST',
        data: {
          status: 'up',
        }
      });
    }, 350);

  });

  $("body").delegate('.downvote','click', function() {
    var playlist_id = $(this).parents('.song-in-queue').data('playlist-id');
    var suggestedsong_id = $(this).parents('.song-in-queue').data('suggested-song-id');
    var replacement = $(this).parents('.contain').children('.heart').children('.netvote')
    setTimeout(function(){
      $.ajax({
        url:"/playlists/" + playlist_id + "/suggestedsongs/" + suggestedsong_id + "/votes",
        method: 'POST',
        data: {
          status: 'down'
        }
      });
    }, 350);
  });
  //materialize navbar dropdown
  $('.user_info_dropdown').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrainWidth: false, // Does not change width of dropdown to that of the activator
      hover: false, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: true, // Displays dropdown below the button
      alignment: 'left', // Displays dropdown with edge aligned to the left of button
      stopPropagation: false // Stops event propagation
  })
 });
