#hp-btn {
  width: 230px;
  border: 1px solid rgb(255, 255, 255);
  @media (max-width: 414px){
    height: 25px;
    line-height: 25px;
    margin-bottom: 5px;
  }
}

h1.hp-header {
  margin-bottom: 10px;
}

h2.hp-header {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 30px;
  color: white;
  font-size: 25px;
  letter-spacing: 4px;
}

/* Fix of diferent block size */
.card.waves-effect.waves {
  width: 100%;
  height: 90%;
  min-height: 14em;
}

@media (max-width: 1255px) and (min-width: 601px) {
  .container {
      width: 85% !important;
  }
}

@media (min-width: 710px) {
  .card.waves-effect.waves {
    min-height: 15em;
  }
}

@media (min-width: 601px) and (max-width: 709px) {
  .card.waves-effect.waves {
    min-height: 18em;
  }
}

@media (max-width: 600px){
  h2.hp-header {
    font-size: 16px;
  }
}
