<div class="join-form">
  <h1 class="title" id="join-title">Pick a name</h1>

<%= form_tag(create_name_path) %>
<div class="field input-field">
<%= label_tag("first_name") %>
<%= text_field_tag "first_name" %>
</div>
<button class="btn login-session" id="joinpage-button" type="submit" name="action">Let's Party
</button>

</div>
